/* Configurações Gerais */

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100&family=Teko:wght@300&display=swap");

* {
  font-family: "Public Sans", sans-serif;
  text-decoration: none;
}

body {
  background-color: #e6edf0;
}

div,
section {
  margin: 0 auto;
  max-width: 940px;
  padding: 1rem;
}

h1,
h2,
h3 {
  font-family: "Teko", sans-serif;
}

p {
  text-align: justify;
}

/* Header */
.header-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  color: #4a6570;
}

.header-logo {
  width: 200px;
}

.header-menu {
  display: flex;
}

.header-menu__item {
  margin-left: 1.3rem;
  list-style: none;
  text-transform: lowercase;
  font-size: 1.5rem;
}

.header-menu__item a {
  color: #4a6570;
}

/* Main */

/* Main sobre */
.main-sobre {
  display: flex;
  font-size: 1rem;
}

.main-sobre__img {
  height: 100%;
  width: 80%;
  margin-left: 2rem;
  box-shadow: rgba(74, 101, 112, 0.4) 5px 5px, rgba(74, 101, 112, 0.3) 10px 10px,
    rgba(74, 101, 112, 0.2) 15px 15px, rgba(74, 101, 112, 0.1) 20px 20px,
    rgba(74, 101, 112, 0.05) 25px 25px;
}

.main-sobre__descricao h2 {
  font-weight: 300;
}

/* Main listagem */
.main-listagem h2 {
  text-align: center;
  font-size: 2rem;
}

.main-listagem h4,
a {
  font-size: 1.3rem;
  margin: 1rem 0;
}

i {
  margin-right: 1rem;
}

.listagem-nomes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.listagem-nomes h4,
a {
  padding: 0.8rem;
}

/* Sociais */
.sociais a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.sociais a:hover {
  color: #4a6570;
  transition: 1s;
}

/* Media */

@media (max-width: 940px) {
  /* Header */
  .header-conteudo {
    margin-bottom: -100px;
    margin-top: -50px;
  }
  .header-menu {
    display: none;
  }
  .header-logo {
    margin: 0 auto;
    height: 100%;
  }

  /* Main Mobile */
  .main-sobre {
    flex-wrap: wrap;
    font-size: 0.9rem;
  }
  .main-sobre__img {
    margin: 0 auto;
    margin-top: 1rem;
    width: 60%;
  }
  .listagem-nomes h4,
  a {
    font-size: 1rem;
  }
}
